[core]

  #Git quotes any non-ascii character by default. 
  #There's an option to disable this quoting behaviour.
  quotepath = false

	editor = vim
	precomposeunicode = true
    #pager = less -S 
    #pager = diff-so-fancy | less -S --tabs=4 -RFX
[user]
	name = Salman Niazi
	email = salman@logicalclocks.com
[push]
	default = simple

[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	#pager = true
	grep = auto
	decorate = auto
	showbranch = auto
[merge]
	tool = vimdiff

[diff]
    tool = vimdiff
    guitool = meld
    renameLimit = 10000
	algorithm = patience
[branch]
    autosetuprebase = always
[difftool]
	trustExitCode = true
[mergetool]
	trustExitCode = true
[mergetool "vimdiff3"]
    cmd = vimdiff \"$LOCAL\"  \"$MERGED\"  \"$REMOTE\"
    trustExitCode = true
[alias]
	mergetool3 = mergetool -t vimdiff3
#[index]
#	threads = 3
#[pack]
#	threads = 3
#[format]
#	threads = 3
#[grep]
#	threads = 3
[safe]
	directory = /arrow
	directory = /arrow
