[core]
	editor = vim
    #pager = less -S 
    #pager = diff-so-fancy | less -S --tabs=4 -RFX
[user]
	name = Salman Niazi
	email = smkniazi@kth.se
[push]
	default = simple

[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	pager = true
	grep = auto
	decorate = auto
	showbranch = auto
[merge]
	tool = vimdiff

[diff]
    tool = vimdiff
    guitool = meld
    renameLimit = 10000
[branch]
    autosetuprebase = always
[diff-so-fancy]
	stripLeadingSymbols = false
	markEmptyLines = false
