# This is Git's per-user configuration file.
[core]
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX
[user]
	name = Salman Niazi
	email = smkniazi@kth.se
[push]
	default = simple

[alias]
    log1 = log --color --graph --date=short --pretty=format:'%Cred%h%Creset %Cgreen[%ad %Cgreen%cr] %C(bold blue)%an%Creset %s' --abbrev-commit --

[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	pager = true
	grep = auto
	decorate = auto
	showbranch = auto
[merge]
#	        tool = mydiff
	        tool = vimdiff

#[mergetool "mydiff"]
#		 #cmd = meld $LOCAL $BASE $REMOTE
#		 cmd = meld $LOCAL $MERGED $REMOTE

[diff]
            tool = vimdiff
            renameLimit = 10000
[branch]
	        autosetuprebase = always
[diff-so-fancy]
	stripLeadingSymbols = false
	markEmptyLines = false
