export PATH=~/usr/bin:$PATH
export PATH=~/usr/bin/ssh:$PATH
export PATH=~/.local/bin:$PATH
export PATH=~/usr/bin/maven/bin:$PATH
export PATH=/usr/local/texlive/2017/bin/x86_64-linux:$PATH
export PATH=~/usr/bin/jdk/bin:$PATH
export PATH=~/usr/bin/protobuf/src:$PATH
export PATH=~/go/bin:$PATH

#export GOROOT=$GOROOT:~/usr/bin/go

export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:~/usr/bin/protobuf/src/.libs
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:~/usr/bin/clusterj/

export LIBNDBPATH=$LIBNDBPATH:~/usr/bin/clusterj

export JAVA_HOME=~/usr/bin/jdk/

export M2_HOME=~/usr/bin/maven
export MAVEN_OPTS="-XX:+TieredCompilation -XX:TieredStopAtLevel=1"


#export GOROOT=~/usr/bin/go
#export PATH=$GOROOT/bin:$PATH
#export GOPATH=~/code/gocode

#FZF ag respects the .gitignore
export FZF_DEFAULT_COMMAND='ag --hidden -g ""'

