[submodule "vim/vim/bundle/vim-hardtime"]
	path = vim/vim/bundle/vim-hardtime
	url = https://github.com/takac/vim-hardtime
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/vim/bundle/vim-livedown"]
	path = vim/vim/bundle/vim-livedown
	url = https://github.com/shime/vim-livedown
[submodule "vim/vim/bundle/csv.vim"]
	path = vim/vim/bundle/csv.vim
	url = https://github.com/chrisbra/csv.vim
[submodule "vim/vim/bundle/conoline.vim"]
	path = vim/vim/bundle/conoline.vim
	url = https://github.com/miyakogi/conoline.vim
[submodule "vim/vim/autoload/vim-pathogen"]
	path = vim/vim/autoload/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/vim/bundle/vim-bufferline"]
	path = vim/vim/bundle/vim-bufferline
	url = https://github.com/bling/vim-bufferline
[submodule "vim/vim/bundle/vim-tmux-navigator"]
	path = vim/vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "vim/vim/bundle/vim-LanguageTool"]
	path = vim/vim/bundle/vim-LanguageTool
	url = https://github.com/dpelle/vim-LanguageTool
[submodule "vim/vim/bundle/goyo.vim"]
	path = vim/vim/bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "vim/vim/bundle/fzf"]
	path = vim/vim/bundle/fzf
	url = https://github.com/junegunn/fzf
[submodule "vim/vim/bundle/syntastic"]
	path = vim/vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic
