! x config
! apply using
! xrdb -load ~/.Xresources
!


!Xft.dpi: 157
!https://awesome.naquadah.org/wiki/Better_Font_Rendering
!Xft.dpi: 96
Xft.rgba: rgb
Xft.hinting: false
Xft.antialias: true
Xft.hintstyle: hintnone
Xcursor.theme : Vanilla-DMZ-AA

URxvt.pointerColor: red
URxvt.pointerColorBackground: black
URxvt.cursorColor: #ff4500
URxvt.cursorBlink: true

! general settings
!URxvt*termName: screen-256color
!URxvt*termName: rxvt-unicode-256color 
URxvt.loginShell: true
URxvt.geometry: 80x24
URxvt.saveLines: 1000
URxvt.scrollBar: false
URxvt.bellIsUrgent: true

! fonts and encoding
URxvt.utf8: true
URxvt.locale: true
URxvt.utf8Title: true
URxvt.renderFont: true
URxvt.preeditType: Root
!URxvt.shading:     10
URxvt.fading:  0
URxvt.dynamicColors: on
URxvt.allow_bold: on
URxvt.allow_italic: on
!URxvt.visualBell: true
URxvt.internalBorder:  4

!! Fonts
#define NormalSize 16
#define FontName dejavu sans mono
URxvt.font: xft:FontName:book:Book:pixelsize=NormalSize
URxvt.boldFont: xft:FontName:Bold:pixelsize=NormalSize
URxvt.italicFont: xft:FontName:Oblique:pixelsize=NormalSize
URxvt.boldItalicFont: xft:FontName:Bold Oblique:pixelsize=NormalSize

!URxvt.font:xft:Monospace:pixelsize=15
!URxvt.boldfont:xft:Monospace-Bold:pixelsize=15
! Fix font space
URxvt.letterSpace: -1.2

! trim trailing spaces
URxvt.trimSelection: true

! fix alt-key inputting
URxvt.eightBitInput: false
URxvt.metaSendsEscape: true

! copy, paste and search
! install xclip and 
! https://github.com/muennich/urxvt-perls/
URxvt.perl-lib: {USER}/.urxvt/ext/
URxvt.perl-ext-common: default,-option-popup,-searchable-scrollback,-selection-popup,keyboard-select,clipboard,url-select,matcher
!URxvt.perl-ext-common: ...,clipboard,keyboard-select
!URxvt.iso14755: False
URxvt.clipboard.copycmd:  xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard
URxvt.clipboard.autocopy: true
URxvt.keysym.Control-Shift-C:  perl:clipboard:copy
!paste_escaped inserts escape chars
!URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.Control-Shift-V: perl:clipboard:paste

! keyboad selection
!URxvt.perl-ext-common:\ ...\,keyboard-select
URxvt.keysym.M-C-v: perl:keyboard-select:activate
URxvt.keysym.M-C-f: perl:keyboard-select:search

! URLS
URxvt.underlineColor: cyan
URxvt.url-select.launcher: /usr/bin/firefox
!URxvt.url-select.launcher: xdg-open
URxvt.matcher.button:       1

!https://incenp.org/notes/2013/urxvt-keyboard-problems.html
!for home and end keys to work. uncomment it and put it in the .inputrc
!"\e[1~": beginning-of-line
!"\e[4~": end-of-line
!"\e[7~": beginning-of-line
!"\e[8~": end-of-line
!"\eOH": beginning-of-line
!"\eOF": end-of-line
!"\e[H": beginning-of-line
!"\e[F": end-of-line

!#include "/themes/tango"
!#include "/themes/solarized"
!#include "/themes/XresourceTomorrow"
!#include "/themes/XresourceTomorrowNight"
!#include "/themes/XresourceTomorrowNightBlue"
!#include "/themes/XresourceTomorrowNightBright"
!#include "/themes/XresourceTomorrowNightEighties"
!#include "/themes/gruvbox-dark.xresources"
!#include "/themes/XresourceMolokai"
!#include "/themes/XresourceDesert"
#include "/themes/XresourceHybrid"



